<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/image"
        android:label="mon application"
        android:roundIcon="@mipmap/image"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".MdpoublieActivity"
            android:exported="false" />
        <activity
            android:name=".MailmdpoublieActivity"
            android:exported="false" />
        <activity
            android:name=".TestActivity"
            android:exported="false" />
        <activity
            android:name=".Motsdepasse"
            android:exported="false" />
        <activity
            android:name=".Maincentrecontrole"
            android:exported="false" />
        <activity
            android:name=".Notification"
            android:exported="false" />
        <activity
            android:name=".Langue"
            android:exported="false" />
        <activity
            android:name=".Para_voix"
            android:exported="false" />
        <activity
            android:name=".Inscription"
            android:exported="false" />
        <activity
            android:name=".Nom_prenom"
            android:exported="false" />
        <activity
            android:name=".Para_generau_compte"
            android:exported="false" />
        <activity
            android:name=".Connexion"
            android:exported="false" />
        <activity
            android:name=".Monprofile"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>